body {
    font-family: sans-serif;
    background-color: rgba(146, 90, 29, 0.63);
}

.games {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	margin: 1px auto;
	width: 100px;
    height: 100px;
}

.player {
    margin-right: 70px;
}

.com {
    margin-left: 70px;
}

#tampilPilihan {
    letter-spacing: 3px;
    font-size: 3em;
}

.ulang{
    background-color: transparent;
    border: transparent;
}


.footer img{
    margin-left: 45em;
    width: 80px;
    height: 80px;
}

#scoreAkhir {
    margin-left: 23em;
}

.konten {
position: absolute;
margin-left: 550px;
margin-top: 150px;
transform: rotate(-28.87deg);	
font-size: 18px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
width: 120px;
}



#logo {
	position: absolute;
	left: 60px;
	top: 20px;
	height: 50px;
	width: 50px;
	}
	
	#right {
		color: #724C21;
		font-size: 62px;
		float: left;
		position:absolute;
	}
	
	#title {
		color: #F9B23D;
		padding-left: 120px;
		font-size: 20px;
		left: 60px;
	}

  /* CSS untuk layar desktop */
  @media only screen and (min-width: 768px) {
    /* gaya CSS untuk layar desktop */
    .ulang{
      width: 50px;
      height: 50px;
    }
  }
  /* CSS untuk layar tablet */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /* gaya CSS untuk layar tablet */
    .ulang{
      width: 40px;
      height: 40px;
    }
  }
  /* CSS untuk layar ponsel */
  @media only screen and (max-width: 480px) {
    /* gaya CSS untuk layar ponsel */
    .ulang{
      width: 30px;
      height: 30px;
    }
  }