body {
    font-family: sans-serif;
    background-color: rgba(146, 90, 29, 0.63);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px; /* Sesuaikan dengan jarak yang diinginkan */
}

#kesatu img {
  max-width: 30px; /* Atur ukuran maksimum yang diinginkan */
  height: auto; /* Biarkan tinggi otomatis menyesuaikan proporsi gambar */
  background-color: transparent; /* Mengatur latar belakang gambar menjadi transparan */
  margin: -100px;
}


.games {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
	width: 50px;
}

.player {
    margin-right: 70px;
    margin: 23px;
}

.com {
    margin-left: 70px;
}

#tampilPilihan {
    padding-left: 520px;
    padding-top: 120px  ;
    letter-spacing: 3px;
    font-size: 3em;
    position: absolute;
}

.ulang{
    background-color: transparent;
    border: transparent;
}


.footer img{
    margin-top: 21em;
    margin-left: 38em;
    width: 50px;
}

#scoreAkhir {
    margin-left: 13em;
}

.konten {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-28.87deg);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 120px;
}



#logo {
	position: absolute;
	left: 60px;
	top: 20px;
	height: 50px;
	width: 50px;
	}
	
	
	#title {
		color: #F9B23D;
		padding-left: 120px;
		font-size: 20px;
		left: 60px;
	}

  /* CSS untuk layar desktop */
  @media only screen and (min-width: 768px) {
    /* gaya CSS untuk layar desktop */
    .ulang {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    /* gaya CSS untuk layar tablet */
    .ulang {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 480px) {
    /* gaya CSS untuk layar ponsel */
    .ulang {
        width: 30px;
        height: 30px;
    }
}